*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.task-box {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: solid 50px black;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input input {
    border-radius: 10px;
    border: 0;
    background-color: rgb(224, 223, 223);
    display: flex;
    justify-content: center;
}
