* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.task-box {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    align-items: flex-end;
    padding: 10px;
    height: 80vh;
    border: solid 1px black;
}

.input input {
    border-radius: 10px;
    border: 0;
    background-color: rgb(224, 223, 223);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.outside-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    border: solid 1px black;
    height: 500px;
    width: 500px;
    background: linear-gradient(320deg, #252525, #c1be9a, #f3f0df);
    position: absolute;
    top: 5%;
    left: 30%;
}